$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #606;
  color: #000;
}

nav {
  margin: 0 0 25px 0;
}

.box {
  border: solid #a3a3a3 4px;
  font-size: 90px;
  font-weight: bold;
  height: 290px;
  text-align: center;
  width: 290px;
}

ul {
  background: #a3a3a3;
  color: #000;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

li {
  color: #606;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0 20px;

  // .active {
  //   background: #fff;
  //   color: #606;
  // }
}
//
// .gameboard {
//   margin: 0 33%;
// }
