$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background: #606;
  color: #000;
}

h1 {
  padding: 10px;
  text-align: right;
}

nav {
  float: left;
  height: 100%;
  margin: 0 10px;
}

#info {
  background: white;
  height: 45px;
  margin: 0, 20px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.row {
  margin-right: 1%;
}

.box {
  border: solid #a3a3a3 4px;
  float: right;
  font-size: 150px;
  font-weight: bold;
  height: 290px;
  margin: 0, 250px;
  padding: 0, 250px;
  text-align: center;
  width: 290px;
}

ul {
  background: #a3a3a3;
  color: #000;
  height: 100%;
  list-style-type: none;
  margin: 0, 50px;
  overflow: hidden;
  padding: 0, 50px;
  position: fixed;
  width: 300px;
}

li {
  color: #606;
  display: inline-block;
  font-weight: bold;
  margin: 0, 50px;
  padding: 0 5px;
}

.gameboard {
  margin: 20px, 10%;
}

@media (max-width: 1200px) {
  .gameboard {
    margin: 0, auto;
  }

  .box {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 960px) {
  .box {
    width: 125px;
    height: 125px;
    font-size: 75px;
  }
}

@media (max-width: 700px) {
  // nav bar moves to top;
}
